.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.img {
  text-align: center;
  float: right;
}
.img2 {
  text-align: center;
  float: left;
  display: inline-block;
}

.venn {
  text-align: center;
  height: 400px;
  width: 400px;
  float: left;
  border-radius: 50%;
}

.slytherin {
  background-color: rgba(255, 26, 0, .5);
  position: relative;
  left: -50px;
}
.gryffindor {
  background-color: rgba(34, 139, 34, .5);
  position: relative;
  left: 50px;
}

.poll {
  text-align: center;
}
.pds-box {
  margin: 0 auto !important;
  float: right;
  display: center;
}

body#content {
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !ismportant;
}

.ui.pointing.menu {
  width: 100% !important;
  float: right;
}

.page-nav-wrapper {
  float: right !important;
}

.page-nav-wrapper a {
  display: inline-block !important;
}

.h2 {
  float:right;
}

.h2a {
  float:left;
}