.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.venn {
  text-align: center;
  height: 400px;
  width: 400px;
  float: left;
  border-radius: 50%;
}

.slytherin {
  background-color: rgba(255, 26, 0, .5);
  position: relative;
  left: -50px;
}
.gryffindor {
  background-color: rgba(34, 139, 34, .5);
  position: relative;
  left: 50px;
}

body#content {
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !ismportant;
}

.ui.pointing.menu {
  width: 100%;
}

.Page-nav {
  flex-direction: row-reverse;
}

.green {
  background-color: rgba(0, 255, 0, .5);
  position: relative;
  left: 50px;
}

.blue {
  background-color: rgba(0, 0, 255, .5);
  position: relative;
  left: -50px;
}

.venn {
    display: flex;
    justify-content: center;
    align-items: center;
    display: table-column-group;
}

.logos-wrapper img {
  height: 30vw;
  width: 30vw
}

.title {
  margin: 2rem;
}

.p {
  padding-right: 30%;
  padding-left: 30%;
  text-align: center;
}

.p--center{
  position: relative;
    left: 150px;
    padding-bottom: 30%;
    padding-top: -50%;
}
